/rust/target
.python-version
.python-version
/python/target
python/.venv
python/.pytest_cache
python/__pycache__
opencode.json
wasm-plugin/target
/target

target/
.opencode/
index.darwin-arm64.node
__pycache__/
