{
  "$schema": "https://opencode.ai/config.json",
  "lsp": {
    "pyright": {
      "disabled": true
    },
    "pyrefly": {
      "command": [
        "uv",
        "run",
        "pyrefly",
        "lsp"
      ],
      "extensions": [
        ".py",
        ".pyi"
      ]
    }
  },
  "permission": {
    "bash": {
      "*": "ask",
      "rm *": "deny",
      "*.env": "deny"
    }
  },
  "provider": {
    "cloudflare": {
      "npm": "@ai-sdk/openai-compatible",
      "options": {
        "baseURL": "https://api.cloudflare.com/client/v4/accounts/{env:CLOUDFLARE_ACCOUNT_ID}/ai-gateway/gateways/{env:CLOUDFLARE_GATEWAY_ID}",
        "apiKey": "{env:CLOUDFLARE_API_TOKEN}"
      }
    }
  }
}
